/*.MyApp md-toolbar md-icon.md-default-theme {
  color: "red";
}*/
.MyApp {
  padding: 3%;
}
#content {
  overflow: hidden;
}

/* MAIN CONTENT */
#content {
  /*padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;*/
  font-family: Droid Sans;
  margin-left:1%;
  margin-right:1%;
  overflow: hidden;
  background-color:#c4c4c4;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#content .bio-content {
  height: 66%;
  background-color: #ffffff;
  margin-left: 6.5%;
  margin-top: 5%;
  margin-right: 6.9%;
}

/* NAV BAR */
md-nav-bar .md-nav-bar {
  background-color: #616161;
}
md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #ffffff;
}
.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: #ffffff;
}
