
body {
  padding-top: 50px;
  min-height: 100%;
  display: block;
}
/* Register Page */
#registerLoginContainer {
  max-width: 400px;
  max-height: 100px;
  margin-top: 10px;
  margin: 0 auto;
}

.register-screen {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0,0,0,.5);
  color: #424242;
}

.space-bot {
  margin-bottom: 35px;
}

.text-center {
  text-align: center;
  text-transform: capitalize;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: white;
}

md-input-container {
  display: block;
}

/* Main App Page*/
.MyApp {
}
#content {
  overflow: hidden;
}

.active {
  color: green;
}

.disabled {
  color: red;
}

.sets {
  margin-bottom: 8%;
}
.container {
  margin-top: 3%;
}
.innerContainer {
}
.light {
  font-weight: lighter;
}
h2 {
  text-align: center;
  margin-bottom: -.1%;
}

h3 {
  color: #FF5252;
}
.md-list-item-text h4 {
  color: #FF5252;
}
.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 5%
}

md-list-item.md-2-line .workoutList.md-list-item-text {
  max-width: 40%;
  overflow: visible;
}
.address {
  text-align: center;
}

.settings-fab {
  font-size: 36px;
  color: #ffffff;
  float: right;
}

.clientName {
  font-size: .7em;
}

.welcome {
  font-size: .7em;
}
.clientSum {
  text-align: center;
}
.subHeader {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.clientAge {
  text-align: center;
  display: inline-flex;
}

.summary {
  margin-bottom: -.1%;
}

.subExcercise {
  font-size: .89em;
  font-weight: bold;
  color: #FF5252;
}

/* MAIN CONTENT */
#content {
  font-family: Droid Sans;
  margin-left:1%;
  margin-right:1%;
  overflow: hidden;
  background-color:#c4c4c4;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#content .bio-content {
  height: 66%;
  background-color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
}
#main-content {
  min-height: 90%;
}

/* SIDE BAR ADD FAB */
.md-fab {
  fill: #fff;
}

/* NAV BAR */
md-nav-bar .md-nav-bar {
  background-color: #616161;
}
md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #ffffff;
}
.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: #ffffff;
}
